* {
    border: blue solid 1px;
    max-width: 1440px;
} 

a {
    text-decoration: none;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("\Template\Montserrat Regular.ttf"); 
    font-family: MotserratBold;
    src: url("\Template\MotserratBold.ttf"); 
    font-family: Roboto;
    src: url("\Template\Roboto"); 
   }
header {
    /* background: url('images/intro.jpg') 0 0/100% auto no-repeat local; */
    
    max-height: 700px;
    
    

}
.background {
    position: absolute;
    background-image: url('images/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0%;
    background-attachment: initial;
    z-index: -10;
    filter:brightness(70%);
    width: 100%;
    height: 100%;
    max-height: 700px;

}




h1 {
    font-family: MotserratBold, sans-serif;
    font-size: 52px;
    color:white;
    width: 500px;
    margin-bottom: 0px;
    
    text-align: center;
   } 

h3 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 100;
    width: 450px;
    margin-top: 25px;
    margin-bottom: 0px;
    color: white;
   } 
  


.head {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

.headear_box1 {
    width: 60%;
    height: 100px;
    margin: 5px;
}

.headear_box2 {

    width: 40%;
    
}



.headear_box3 {
    display: flex;
    max-width: 170px;
    height: 60px;
    margin: 5px;
    margin-left: 155px;
    justify-content: space-around;
    align-items:center;
    

}

.headear__logo {
    
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-top: 15px;
    
    margin: 5px;
    margin-left: 220px;
    }

.headear-Log1 {
    display: flex;
     
    
    align-items: center;
    justify-content: end;
    color: white; 
    padding-right: 10px;
    padding-top: 5px;
}

.headear-Log2 {
    
    display: flex;
     
    align-items: center;
    text-align: right;
    justify-content: center; 
}

.headear-Sign{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: white solid 1px;
    
}

.main-page {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    height: 560px;
    max-height: 700px;  
    padding-top: 40px;
    
   }

 

.main-page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: MotserratBold, sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 19px;
    width: 226px;
    height: 38px;
    text-align: center;
    background-color: #ff4e50;
    margin-top: 35px;
    }



.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    

}


.about_container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin-top: 10px;

}

.about_box {
    width: 300px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    
   
}    
 
.about_box_step_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MotserratBold, sans-serif;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 20px;
    margin: 5px;   
    background-color: #ff4e50;
}

.about_box__title {
    font-family: MotserratBold, sans-serif;
    font-size: 24px;
    color: white;
    margin: 5px; 
}

.about_box_text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: white;
    margin: 5px; 

}



.about_box_img1 {
    position: absolute;
    z-index: -10;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-image: url('images/about_box1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
    filter: brightness(0.5);
}
.about_box_img2 {
    position: absolute;
    z-index: -10;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-image: url('images/about_box2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
    filter: brightness(0.5);
}

.about_box_img3 {
    position: absolute;
    z-index: -10;
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-image: url('images/about_box3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
    filter: brightness(0.5);
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 35px;
}

.title {
    text-align: center;
    font-family: MotserratBold, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 20px;
} 



.parthner_container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin-top: 5px;

}

.partner_box {
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    width: 220px;
    padding-top: 5px;
    margin: 5px;
}

.partner_box_img1 {
    border-radius: 50%;
    z-index: -10;
    width: 120px;
    height: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url('images/partner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
}

.partner_box_img2 {
    border-radius: 50%;
    z-index: -10;
    width: 120px;
    height: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url('images/partner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
}

.partner_box_img3 {
    border-radius: 50%;
    z-index: -10;
    min-width: 120px;
    min-height: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url('images/partner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
}

.partner_box_img4 {
    border-radius: 50%;
    z-index: -10;
    width: 120px;
    height: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url('images/partner4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: local;
}

.partner_box_img_ic1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -10;
    width: 30px;
    height: 30px;
    background-color: #ff4e50;
}
.partner_box_img_ic2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -10;
    width: 30px;
    height: 30px;
    background-color: #1cd7ad;
}

.partner_box_img_ic3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -10;
    width: 30px;
    height: 30px;
    background-color: #ffa507;
}

.partner_box_img_ic4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: -10;
    width: 30px;
    height: 30px;
    background-color: #4e73db;
}


.partner_icon {
    
    z-index: 1;
    width: 25px;
    height: 25px;
    
   

}

.partner_name {
    font-family: MotserratBold, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-top: 5px;
    }

.parner_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-top: 5px;
}    

.partner_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height:40px ;
    border: #ff4e50 solid 2px;
    border-radius:22px ;
    font-size: 14px;
    color: #ff4e50;
    font-family: MotserratBold, sans-serif;
    margin: 10px;
}

.ideas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.ideas_title {
    text-align: center;
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    
}

.ideas_grid {
    display: grid;
    width: 940px;
    height: 940px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    
}

.ideas_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ideas_item2 {
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ideas_item3 {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

.ideas_item_bg1 {
    position: absolute;
    background-image: url('images/grid_bg_1.jpg');
    background-position: center;
    background-size:cover;
    z-index: -7;
    width: 300px ;
    height: 300px;
    filter: brightness(0.5);
}

.ideas_item_bg2 {
    position: absolute;
    background-image: url('images/grid_bg_2.jpg');
    background-position: center;
    background-size:cover;
    z-index: -7;
    width: 300px ;
    height: 300px;
    filter: brightness(0.5);
}

.ideas_item_bg3 {
    position: absolute;
    background-image: url('images/grid_bg_3.jpg');
    background-position: right;
    background-size:cover;
    z-index: -7;
    width: 300px ;
    height: 300px;
    filter: brightness(0.5);
}

.ideas_item_bg4 {
    position: absolute;
    background-image: url('images/grid_bg_4.jpg');
    background-position: right;
    background-size:cover;
    z-index: -7;
    width: 300px ;
    height: 300px;
    filter: brightness(0.5);
}

.ideas_item_bg5 {
    position: absolute;
    background-image: url('images/grid_bg_5.jpg');
    background-position: right;
    background-size:cover;
    z-index: -7;
    width: 620px ;
    height: 300px;
    filter: brightness(0.6);
}

.ideas_item_bg6 {
    position: absolute;
    background-image: url('images/grid_bg_6.jpg');
    background-position: right;
    background-size:cover;
    z-index: -7;
    width: 620px ;
    height: 300px;
    filter: brightness(0.6);
}

.ideas_item_bg7 {
    position: absolute;
    background-image: url('images/grid_bg_7.jpg');
    background-position: right;
    background-size:cover;
    z-index: -7;
    width: 300px ;
    height: 300px;
    filter: brightness(0.5);
}

.serchParnersBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
    
}



.serch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parner_search_text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    margin-top: 5px;
}  

.input_interests {
    width: 250px;
    height: 40px;
}

.searchParnersBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height:40px ;
    border: #ff4e50 solid 2px;
    border-radius:22px ;
    font-size: 14px;
    background-color: #ff4e50;
    color: white;
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #ff4e50 solid 4px;
    margin-top: 90px;
}

nav {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 940px;
    margin-top: 40px;
}

.nav_promo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-transform: uppercase;
    width: 115px;
    height: 115px;
    font-size: 16px;
    color: #ff4e50;
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
}

.nav_list {
    
    
    
    list-style-type: none;
    margin: 0px;
    font-size: 14px;
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
    color:#333333;
}

.nav_list > li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #cccccc;
} 

.nav_logo {
    color: #cccccc;
    text-transform: uppercase;
    font-family: MotserratBold, sans-serif;
    font-weight: bold;
    
    
    
    

}